/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500;700&family=Space+Mono:wght@400;700&display=swap');
/*
font-family: 'Inconsolata', monospace;
font-family: 'Montserrat', sans-serif;
font-family: 'Space Mono', monospace;
*/

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #333333;
    --color-secondary: #4F4F4F;
    --color-tertiary: #BDBDBD;
    --color-White: #fff;
}

a {
    text-decoration: none;
}

header {
    width: 90%;
    margin: 0 auto;
}

header h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: -0.1em;
    color: var(--color-primary);
    margin-top: 30px;
}

.container {
    /*max-width: 1024px;*/
    width: 90%;
    margin: 0 auto;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box404 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.box-img img {
    width: 75%;
    margin: 0 auto;
}

.box-text h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-style: normal;
    font-size: 3em;
    color: var(--color-primary);
}

.box-text p {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    color: var(--color-primary);
    margin: 20px 0px 60px 0px;
    width: 65%;
}

.btn {
    font-family: 'Space Mono', monospace;
    font-weight: bold;
    font-style: normal;
    background: var(--color-primary);
    color: var(--color-White);
    text-transform: uppercase;
    padding: 20px;
}

.btn:hover {
    background: var(--color-secondary);
}

footer {
    color: var(--color-tertiary);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 0.8em;
}

footer a {
    color: var(--color-tertiary);
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

footer a:hover {
    color: var(--color-secondary);
}

@media screen and (max-width:767px) {

    .container {
        height: 100%;
        padding: 50px 0;
    }

    .box404 {
        flex-direction: column;
    }

    .box-img {
        text-align: center;
    }
    .box-text h1 {
        font-size: 2em;
    }
    .box-text p {
        width: 100%;
    }

    footer {
        margin-bottom: 30px;
    }

}